name: Renovate
on:
  schedule:
    - cron: "0 5 * * *"
  push:
    branches:
      - main
  workflow_dispatch:

concurrency: ${{ github.workflow }}-${{ github.ref }}

permissions:
  contents: write
  pull-requests: write

jobs:
  renovate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2
        id: app-token
        with:
          app-id: ${{ vars.BOT_APP_ID }}
          private-key: ${{ secrets.BOT_PRIVATE_KEY }}

      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Self-hosted Renovate
        uses: renovatebot/github-action@eaf12548c13069dcc28bb75c4ee4610cdbe400c5 # v44.2.6
        with:
          token: ${{ steps.app-token.outputs.token }}
          configurationFile: .github/renovate-config.js
        env:
      #    LOG_LEVEL: 'debug'
          RENOVATE_GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
